useDynLib(randomLCA)

export(.onAttach)
export(randomLCA)
export(calcCondProb)
export(calcMargProb)
export(ranef.randomLCA)
export(outcomeProbs)
export(refit)
export(summary.randomLCA)
export(classProbs)
export(postClassProbs)
export(AIC3)
export(print.randomLCA)

# Imported functions
importFrom(graphics, plot)
importFrom(stats,simulate)
importFrom(lattice,xyplot)
importFrom(boot,boot)
importFrom(boot,boot.ci)
importFrom("stats", "dbeta", "dnorm", "nlm", "pnorm", "qnorm", "rnorm", "runif","as.formula")

importFrom(stats, BIC)
importFrom(stats, AIC)
importFrom(stats, logLik)

importFrom(fastGHQuad, "gaussHermiteData")

# S3 methods
S3method(plot, randomLCA)
S3method(summary, randomLCA)
S3method(ranef, randomLCA)
S3method(fitted, randomLCA)
S3method(refit, randomLCA)
S3method(outcomeProbs, randomLCA)
S3method(simulate, randomLCA)
S3method(logLik, randomLCA)
S3method(AIC, randomLCA)
S3method(BIC, randomLCA)
S3method(print, randomLCA)

S3method(print,outcomeProbs.randomLCA)
S3method(print, summary.randomLCA)


