useDynLib(randomLCA)
# Exported functions
#export(randomLCA,calc.cond.prob,calc.marg.prob,plot,summary,
#ranef,fitted)

#export(randomLCA,calc.cond.prob,calc.marg.prob,plot.randomLCA,summary.randomLCA,
#ranef.randomLCA,fitted.randomLCA)

export(randomLCA,calc.cond.prob,calc.marg.prob,ranef.randomLCA,outcome.probs)

# Imported functions
importFrom(nlme, ranef)
importFrom(graphics, plot)
importFrom(nlme,BIC)

# S3 methods
S3method(plot, randomLCA)
S3method(summary, randomLCA)
S3method(ranef, randomLCA)
S3method(fitted, randomLCA)
S3method(print, summary.randomLCA)

S3method(outcome.probs, randomLCA)
S3method(print,outcome.probs.randomLCA)

S3method(logLik, randomLCA)
S3method(AIC, logLik)
S3method(BIC, logLik)
S3method(AIC, randomLCA)
S3method(BIC, randomLCA)
